.MainContainer {
  display: flex;
}
.firstContainer {
  background-color: #64748b;
  padding: 25px;
  width: 50%;
}
.secondContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.heading {
  color: #ffffff;
  margin: 8px;
}
.button {
  background-color: #0967d2;
  width: 55%;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  border: 0 none;
  height: 35px;
}
.unorderedList {
  padding: 0px;
  display: flex;

  flex-wrap: wrap;
}
.eventDetails {
  color: #475569;
}
.eventDetails {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.registered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.registerdImg {
  width: 80px;
  height: 80px;
}
.registerdClosedImg {
  width: 250px;
  height: 250px;
}
.registeredpara {
  width: 73%;
  font-size: 20px;
  font-weight: 500;
}
.registerImg {
  width: 300px;
  height: 300px;
}
.registeredHeading {
  color: #333333;
  font-weight: bold;
  font-size: 25px;
}
