.listItem {
  list-style-type: none;
  margin: 8px;
  cursor: pointer;
}
.imgButton {
  border: 0 none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  padding: 0;
}
.itemImg {
  width: 270px;
  height: 150px;
  cursor: pointer;
  outline: none;
}
.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #ffffff;
}
.location {
  font-size: 15px;
  margin-top: 0;
  color: #ffffff;
}
